root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,css,scss,vue,yaml,yml}]
indent_size = 2

[*.{bat,cmd,iss}]
end_of_line = crlf
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.txt]
insert_final_newline = false

[Makefile]
indent_style = tab
