{% extends 'layout/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1 class="display-3 d-block font-weight-normal">Halo Flask</h1>
                <div class="mt-4 mb-2 lead">
                    <i class="fas fa-hashtag fa-fw mr-1"></i>
                    Ini adalah aplikasi Flask kamu.
                </div>
                <img class="mt-4" src="{{ url_for('static', filename='images/hello-robot.png') }}" width="400" alt="Halo Robot">
            </div>
        </div>
    </div>
{% endblock %}
